.content {
  max-height: 75dvh;
  width: 100%;
  overflow-y: auto;
}

.description {
  background-color: #fff;
  padding: 1rem;
  margin-inline: auto;
  border-radius: 10px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #ddd;
}

.title {
  font-size: 1.3rem;
  display: inline;
  border-radius: 10px;
  color: #222;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .description {
    border: none;
    padding-bottom: 2rem;
  }
}
