.link {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  width: max-content;
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  border-bottom-right-radius: 3rem;
}

.logo {
  border-radius: 1rem;
  width: 50px;
  height: 50px;
}

.title {
  font-size: 1rem;
  color: #000000;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.9);
  animation: zoomOut 1s ease-in-out;
  font-weight: 400;
}

@media (max-width: 600px) {
  .link {
    width: 100%;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
  }
}

@keyframes zoomOut {
  0% {
    font-size: 1.2rem;
  }
  100% {
    font-size: 1rem;
  }
}
