.content {
  margin-block: 1rem;
}

.dateAndTitle {
  background-color: #fff;
  margin-inline: auto;
  padding: 1rem;
  border-radius: 10px;
  width: max-content;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.3rem;
  display: inline;
  border-radius: 10px;
  color: #222;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.date {
  font-weight: 100;
}

.images {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 200px));
  justify-content: center;
  gap: 1rem;
  max-height: 50dvh;
  overflow-y: auto;
  padding: 1rem;
}

.image {
  border-radius: 5px;
  background-color: #fff;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.image p {
  padding: 0.5rem;
  text-align: center;
}

.mapAndDetails {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mapContainer {
  flex: 1;
  min-width: 300px;
  width: 100dvw;
  position: absolute;
  cursor: none;
  pointer-events: none;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.7rem;
    width: 80dvw;
  }

  .mapAndDetails {
    flex-direction: column;
  }

  .images {
    margin-bottom: 10rem;
  }
}
