.content {
  position: relative;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  margin-inline: auto;
  text-align: left;
  border-radius: 10px;
  width: 35dvw;
  color: #222;
  margin-top: 1rem;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

.date {
  color: #222;
  padding-bottom: 1rem;
}

.images {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 200px));
  justify-content: center;
  gap: 1rem;
}

.image {
  border-radius: 5px;
  background-color: #fff;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.image p {
  padding: 0.5rem;
  text-align: center;
}

.mapAndDetails {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.7rem;
    width: 80dvw;
  }

  .mapAndDetails {
    flex-direction: column;
  }

  .images {
    margin-bottom: 10rem;
  }
}
