.actions {
  position: fixed;
  bottom: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.actions button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: all 0.8s ease-in-out;
  backdrop-filter: invert(1);
}

.actions button:hover {
  backdrop-filter: invert(0.2);
}
