.timeline {
  display: flex;
  transition: all 0.5s ease-in-out;
  padding: 1rem;
  width: max-content;
  position: fixed;
  bottom: 1rem;
  margin-inline: auto;
  left: 50%;
  transform: translateX(-50%);
}

.timelineContainer {
  max-width: 40dvw;
  position: relative;
  margin-inline: auto;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 3rem;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  backdrop-filter: blur(1000px);
}

.timelineItem {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-size: 0.9rem;
}

.timelineDate {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1.5rem;
}

.timelineItem::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  background: #000;
  left: 50%;
  bottom: 140%;
}

.timelineItem::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  background: #000;
  left: 50%;
  top: 140%;
}

.active {
  scale: 2;
  margin-inline: 3rem;
  color: #000;
  font-weight: 900;
}

.active::before,
.active::after {
  display: none;
}

.actionButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: all 0.8s ease-in-out;
  backdrop-filter: invert(0.3);
  scale: 0.4;
}

.actionButton:hover {
  backdrop-filter: invert(0.7);
}

@media (max-width: 600px) {
  .timelineContainer {
    max-width: 70dvw;
  }

  .timelineItem {
    font-size: 0.7rem;
  }

  .actionButton {
    scale: 0.6;
  }

  .active {
    font-size: 0.6rem;
    margin-inline: 0.5rem;
  }
}

.dotsWrapperFromTop {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
  position: absolute;
  bottom: 75.5%;
}

.dotsWrapperFromBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
  position: absolute;
  top: 75%;
}

.dot {
  width: .2rem;
  height: .7rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: transform 0.2s, background-color 0.2s;
  transform: scale(0.3);
}

.dotActive {
  background-color: #000;
  transform: scale(0.5);
}

.active {
    scale: 2;
    margin-inline: 2rem;
    color: #000;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

