.map {
  animation: fade-in 0.1s ease-in-out;
  height: 100dvh;
  width: 100dvw;
  z-index: -1;
  position: absolute;
  pointer-events: none;
  cursor: none;
  zoom: 1.2;
  transform: translate(-10dvw, -10dvh);
  filter: grayscale(1);
}

@keyframes fade-in {
  from {
    filter: brightness(1.5) grayscale(1);
  }
  to {
    filter: brightness(1) grayscale(1);
  }
}
