.map {
  animation: fade-in 0.1s ease-in-out;
  scale: 1.6;
  filter: grayscale(1);
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  position: fixed;
}

@keyframes fade-in {
  from {
    filter: brightness(1.5) grayscale(1);
  }
  to {
    filter: brightness(1) grayscale(1);
  }
}
