.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.searchInput {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0.7rem;
  backdrop-filter: blur(5px);
}

.searchInput:focus {
  outline: none;
  border-color: skyblue;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.resultsContainer {
  position: absolute;
  z-index: 1;
  top: 3.2rem;
  left: 1.5rem;
  width: 100%;
  max-width: 300px;
  background-color: var(--background);
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 50dvh;
  overflow: auto;
}

.resultsList {
  list-style: none;
  padding: 0.5rem;
  margin: 0;
}

.resultItem {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.resultItem:last-child {
  border-bottom: none;
}

@media (max-width: 600px) {
  .searchContainer {
    padding: 0.5rem;
  }

  .searchInput {
    max-width: 100%;
  }

  .resultsContainer {
    max-width: 97dvw;
    left: 0.5rem;
  }
}

.resultsContainer a {
  color: #000;
}

.resultsContainer h3 {
  font-weight: 300;
}
